<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Add Event</title>
</head>
<body>
    <h1>Add Event</h1>

    <form action="" method=POST>
        {% csrf_token %}
        {{peserta_form.as_table}}
        <button id="kirim" type="submit" name="kirim" placeholder="Kirim">Add</button>
    </form>
    
</body>
</html>