<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styleevent.css' %}">
    <title>List Event</title>
</head>
<body>
    <div class="card-group">
        {% for event in events %}
            <div class=" big-card">

                <div class="header-card">
                <h5 class="event-name">{{ event.nama }}</h5>

                {% for participant in participants %}

                    {% if participant.ikutKegiatan == event %}
                        <p class="text-card">{{ participant.namaPeserta }}</p>
                    {% endif %}

                {% endfor %}

                <a href="/participants/{{event.id}}""><button type="button" class="btn btn-primary">Add</button></a>
                <a href="/delete/{{event.id}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
        
                </div>
            </div>

        {% endfor %}
    </div>
</body>
</html>