<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Participants</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{participants.as_table}}
        </table>
        <div class="container submit">
            <button style="font-size: 12pt;" type="Submit" class="btn btn-primary btn-sm">ADD</button>
        </div>
    </form>
</body>
</html>